<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>944685718677-gq2v3a2msm6aven4n8gh2inrpleovl2u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.944685718677-gq2v3a2msm6aven4n8gh2inrpleovl2u</string>
	<key>API_KEY</key>
	<string>AIzaSyDBfj-ez4O80Fbe7cdchKyJWg0fieuzUVk</string>
	<key>GCM_SENDER_ID</key>
	<string>944685718677</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.project1</string>
	<key>PROJECT_ID</key>
	<string>project1-fe7e6</string>
	<key>STORAGE_BUCKET</key>
	<string>project1-fe7e6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:944685718677:ios:2b077ea2f38c662c0f8f9c</string>
</dict>
</plist>